{% load static %}
<nav class="nav">
    <a href="{% url 'home' %}"><img src="{% static 'img/LITReview_logo.png' %}" alt="LITReview_logo" width="50px"></a>
    <div style="position: absolute; right: 30px; top: 40px">
        {% if user.is_authenticated %}
            <a href="{% url 'home' %}">Flux</a>
            <a href="#">Posts</a>
            <a href="{% url 'subscriptions' %}">Abonnements</a>
            <a href="{% url 'logout' %}">Se déconnecter</a>
            <!-- Souhaitez-vous <a href="{% url 'password_change' %}">changer votre mot de passe</a> ? -->
        {% endif %}
    </div>
</nav>

