<div class='post_box'>
    {% if post.user == user %}
        <h3>Vous avez demandé une critique</h3>
    {% else %}
        <h3>{{ post.user }} a demandé une critique</h3>
    {% endif %}
    <div style="display: flex; width: 100%">
        <img style="align-self: flex-start; padding: 20px;" src="/media/{{ post.image }}" alt="{{ post.title }}" width="200px">
        <div style="width: 100%">
            <p style="text-align: left;">{{ post.title }}
            <p class='post_timecreated'>{{ post.time_created }}</p>
            <p style="text-align: left;">{{ post.description }}</p>
        </div>
    </div>
    {% if reviews_allowed %}
        <!-- if has review and request.url = feed ? -->
        <p>        
            <button><a href="{% url 'review' ticket_id=post.id %}">Créer une critique</a></button>
        </p>
    {% endif %}
    
    {% if editable %}
    <!-- if has review and request.url = feed ? -->
    <form action=""  method="post">
        {% csrf_token %}
        <button><a href="{% url 'ticket' ticket_id=post.id %}">Modifier</a></button>
        <button type="submit" name="post_id" value="{{ post.id }}" >Supprimer</button>
        <!-- <input type="submit" value="{{post.id}}" name="" id="{{post.id}}"> -->
    </form>
{% endif %}
</div>