<div class='post_box'>
    {% if post.user == user %}
        <h3>Vous avez publié un ticket</h3>
    {% else %}
        <h3>{{ post.user }} a publié un ticket</h3>
    {% endif %}
    <p style="text-align: right;">{{ post.time_created }}</p>
    <p style="text-align: left;">{{ post.title }}</p>
    <p style="text-align: left;">{{ post.description }}</p>
    <img src="/media/{{ post.image }}" alt="{{ post.title }}" width="150px">
    <!-- if has review and request.url = feed ? -->
    <p>        
        <button>Créer une critique</button>
    </p>
</div>