{% extends 'base.html' %}
{% block content %}
<h1>{{ title }}</h1>

{% if ticket.user != request.user and not review_form and ticket %}
    {% include 'reviews_webapp/includes/ticket_snippet.html' with post=ticket %}
{% endif %}

{% if review_form and ticket %}
<div class="box post_box">
    Vous êtes en train de poster en réponse à
    {% include 'reviews_webapp/includes/ticket_snippet.html' with post=ticket %}
    <hr>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div>Titre: {{ review_form.headline }}</div>
        <div>
        <!-- {% for radio in review_form.rating %}
            {{ radio }}
        {% endfor %} -->
            {% for radio in review_form.rating %}
            {{ radio }}<p class="fa fa-star"></p>
            {% endfor %}
        </div>
        
        <div>{{ review_form.body }}</div>
        
        <input type="submit">
    </form>
</div>
<!-- {% elif ticket and read_only %} -->
{% elif ticket and ticket.user != request.user %}
    {% include 'reviews_webapp/includes/ticket_snippet.html' with post=ticket %}
{% else %}
    <div class="box post_box">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ ticket_form.as_p }}
        
            {% if review_form %}
                <hr>
                {{ review_form.as_p }}
            {% endif %}
            <input type="submit">
        </form>
    </div>    
{% endif %}

{% endblock content %}